body {
  background-color: #2980b9;
}
main {
  margin: 100px 15px 15px 15px;
}
a:link {
  color:green;
}
a:hover {
  color:lightgreen;
}
#header-fixed {
  width: 100%;
  top: 0px;
  left: 0px;
  margin: auto;
  margin-left: 0px;
  position: fixed;
  z-index: 100000;
}
#menu {
  background: #2c3e50;
  height: 75px;
  opacity: 0.8;
}
.menu-item {
  clear:none;
  position:fixed;
}
h1, h2 {
  color: #2c3e50;
  margin-left: 15px;
  margin-bottom: 15px;
}
h3 {
  color: #2c3e50;
  margin-left: 15px;
  margin-bottom: 0px;
  float: left;
  clear: both;
}
ul,ol {
  float:left;
  clear:both;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  min-height: 100px;
}
#title {

  color: white;
  margin: 5px 10px 5px 15px;
}
section{
  padding: 3px 0;
  margin: 3px;
  float: left;
  border: 1px solid lightgray;
  border-radius: 10px;
  min-width: 218px;
  background-color: #ecf0f1;
}
#header-section {
  padding: 15px;
  border: none;
  float:left;
  background-color: transparent;
}
p {
  padding-right: 5px;
  margin-right: 15px;
  float: left;
}
#one-p {
  width: 95%;
  float: left;
}
#two-p {
  width: 45%;
  float: left;
}
#three-p {
  width: 30%;
  float: left;
}
.pdiv{
  margin-left: 20px;
  margin-right: 5px;
  min-width: 90px;
}
.block-full {
  width: 99%;
}
.block-half {
  width: 49.2%;
}
@media screen and (max-width: 1056px) {
  .block-half {
    width: 99%;
    margin-left: 3px;
    margin-right: 3px;
  }
}
@media screen and (max-width: 1056px) {
  #three-p {
    width: 99%;
  }
}
@media screen and (max-width: 1056px) {
  #two-p {
    width: 99%;
  }
}
.spacer {
  height: 100px;
  clear: both;
}
footer {
  width: 100%;
  left: 0px;
  bottom: 0px;
  clear: both;
  margin-left: 0px;
  position:fixed;
  z-index: 100000;
  background: #2c3e50;
  height: 75px;
}
#footer-section {
  padding: 3px 3px 3px 3px;
  border: none;
  float:right;
  background-color: transparent;
}
#p-footer {
  color: #fff;
  min-width: 0px;
  margin: 20px 20px 20px 20px;
  float:right;
}
.answers {
  float: left;
}
.answer1, .answer2, .answer3, .answer4, .answer5, .answer6, .answer7 {
  background-color: #34495e !important;
  margin: 10px;
  padding: 10px;
  height: 60px;
  color:#ffffff;
}
