@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Lato');

html {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #2c3e50;
}

.content {
  margin: auto;
  margin-top: 5em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 80%;
  height: 1280px;
  background-color: #ecf0f1;
}

header {
  background-color: #ecf0f1;
}

footer {
  padding-left: 2em;
  padding-right: 2em;
  background-color: #ecf0f1;
}

h1 {
  padding-top: 1em;
  padding-left: 2em;
  color: #323234;
  font-family: 'Gochi Hand', cursive;
}

h2 {
  padding-top: 1em;
  padding-left: 2.6em;
  color: #323234;
  font-family: 'Lato', sans-serif;
}

p {
  padding-left: 4em;
  padding-right: 4em;
}

.a-p, .score {
  padding: 1px;
}

hr {
  border-top: 5px solid #2c3e50;
}

.answers {
  padding-left: 4em;
  padding-right: 4em;
  margin-bottom: .5px;
}

.answer1, .answer2, .answer3, .answer4, .answer5, .answer6 {
  background-color: #34495e;
  color:#ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: .02px;
  padding-bottom: .02px;
}
