@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Lato');

html {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

body  {
  background-color: #f0f0f0;
  color:#143539;
}

header {
  background-color: #ffffff;
}

footer {
  padding-left: 4em;
  padding-right: 4em;
  background-color: #ffffff;
}

h1 {
  padding-left: 4em;
  color: #323234;
  font-family: 'Gochi Hand', cursive;
}

h2 {
  padding-left: 2.5em;
  color: #323234;
  font-family: 'Lato', sans-serif;
}

p {
  padding-left: 4em;
  padding-right: 4em;
}

answers {
  color: red;
}

#hiimjed {
  padding: 2em;
}
